In [12]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import os
pd.set_option("display.max_columns", 50)

In [3]:
%cd F:\JozBiz

F:\JozBiz

In [4]:
#Reading the dataset
data=pd.read_excel('GWQ_2010-2018.xlsx')
data.count()

SITE_ID           85197
WRIS ID           85197
LATITUDE          84916
LONGITUDE         84916
SITE_TYPE         85197
STATE_NAME        85197
DISTRICT_NAME     85196
TAHSIL_NAME       85085
BLOCK_NAME        85071
SITE_NAME         85197
BASIN_NAME        85197
PROJECT_NAME      85197
year              85197
PH                85193
EC                85194
TH                81780
TOT_ALKALINITY    68788
CA                82060
MG                82049
NA                82056
K                 81988
FE                68575
CARBONATE         79104
BICARBONATE       81973
CHLORIDE          85185
SULPHATE          82060
NITRATE           81056
FLUORIDE          83992
SAR               69351
RSC               67521
SiO2              21338
PO4               22929
TDS               21477
Turbidity          3409
%Na                4025
Arsenic           15535
LR. No            10911
dtype: int64

In [5]:
#Converting into dataframe
df = pd.DataFrame(data)
df.head(3)

,SITE_ID,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,BASIN_NAME,PROJECT_NAME,year,PH,EC,TH,TOT_ALKALINITY,CA,MG,NA,K,FE,CARBONATE,BICARBONATE,CHLORIDE,SULPHATE,NITRATE,FLUORIDE,SAR,RSC,SiO2,PO4,TDS,Turbidity,%Na,Arsenic,LR. No
0,W115159092441001,W23881,11.8664,92.7361,Dug Well,Andaman And Nicobar,A & N Islands,Ferrargunj,South Andaman,Shoal Bay– 15 No.,South_Andaman,Monitoring Of National Hydrograph Network Stat...,2018,8.34,355,130,160,22,18.225,25.7,1.53,1.288,12,170.8,17.725,3.21,3.63,0.37,NaN,NaN,13.97,NaN,217.748,NaN,NaN,NaN,NaN
1,New,W38814,12.1869,92.7917,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Baratang Island,South Creek (Sundergarh),South_Andaman,Monitoring,2018,8.46,596,120,205,14,20.655,75.67,6.33,0.125,18,213.5,38.995,46.22,2.46,0.24,0,0,15.14,0,360.745,,,0,0
2,W123014092513301,W24095,12.5039,92.8592,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Bakultala,North&Middle_Andaman,Monitoring Of National Hydrograph Network Stat...,2018,8.11,394,160,155,12,31.59,18.4,5.09,0.134,0,189.1,17.725,30.46,0,0.96,0,0,7.67,0,239.246,NaN,NaN,0,NaN

In [6]:
#Removing the inconsistent data
df = df.drop(columns=['SITE_ID', 'PROJECT_NAME', 'Arsenic', 
                      'LR. No', 'Turbidity', '%Na', 'RSC', 'SAR', 'SiO2', 'PO4'])

In [7]:
#Removing Null values
df1 = df.dropna()
df1.count()

WRIS ID           13609
LATITUDE          13609
LONGITUDE         13609
SITE_TYPE         13609
STATE_NAME        13609
DISTRICT_NAME     13609
TAHSIL_NAME       13609
BLOCK_NAME        13609
SITE_NAME         13609
BASIN_NAME        13609
year              13609
PH                13609
EC                13609
TH                13609
TOT_ALKALINITY    13609
CA                13609
MG                13609
NA                13609
K                 13609
FE                13609
CARBONATE         13609
BICARBONATE       13609
CHLORIDE          13609
SULPHATE          13609
NITRATE           13609
FLUORIDE          13609
TDS               13609
dtype: int64

In [8]:
df1.head()

,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,BASIN_NAME,year,PH,EC,TH,TOT_ALKALINITY,CA,MG,NA,K,FE,CARBONATE,BICARBONATE,CHLORIDE,SULPHATE,NITRATE,FLUORIDE,TDS
0,W23881,11.8664,92.7361,Dug Well,Andaman And Nicobar,A & N Islands,Ferrargunj,South Andaman,Shoal Bay– 15 No.,South_Andaman,2018,8.34,355,130,160,22,18.225,25.7,1.53,1.288,12,170.8,17.725,3.21,3.63,0.37,217.748
1,W38814,12.1869,92.7917,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Baratang Island,South Creek (Sundergarh),South_Andaman,2018,8.46,596,120,205,14,20.655,75.67,6.33,0.125,18,213.5,38.995,46.22,2.46,0.24,360.745
2,W24095,12.5039,92.8592,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Bakultala,North&Middle_Andaman,2018,8.11,394,160,155,12,31.59,18.4,5.09,0.134,0,189.1,17.725,30.46,0,0.96,239.246
3,W24112,12.5247,92.9703,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Nimbutala,North&Middle_Andaman,2018,7.89,448,200,200,22,35.235,13.18,1.83,0.146,0,244,17.725,13.34,0,1.02,253.22
4,W24098,12.5083,92.9606,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Padmanavapuram,North&Middle_Andaman,2018,8.01,309,125,130,12,23.085,14.41,0.49,0.122,0,158.6,14.18,13.37,0,0.74,185.361

In [9]:
# Converting below detection limit to zero
df2 = df1.replace(to_replace ="BDL",
                 value = 0)

In [10]:
df2.dtypes

WRIS ID            object
LATITUDE           object
LONGITUDE          object
SITE_TYPE          object
STATE_NAME         object
DISTRICT_NAME      object
TAHSIL_NAME        object
BLOCK_NAME         object
SITE_NAME          object
BASIN_NAME         object
year                int64
PH                float64
EC                float64
TH                float64
TOT_ALKALINITY     object
CA                 object
MG                 object
NA                 object
K                  object
FE                 object
CARBONATE          object
BICARBONATE       float64
CHLORIDE           object
SULPHATE           object
NITRATE            object
FLUORIDE           object
TDS                object
dtype: object

In [11]:
#data type conversions
df2['TOT_ALKALINITY']=pd.to_numeric(df2['TOT_ALKALINITY'],errors='coerce')
df2['CA']=pd.to_numeric(data['CA'],errors='coerce')
df2['MG']=pd.to_numeric(data['MG'],errors='coerce')
df2['NA']=pd.to_numeric(data['NA'],errors='coerce')
df2['K']=pd.to_numeric(data['K'],errors='coerce')
df2['FE']=pd.to_numeric(data['FE'],errors='coerce')
df2['CARBONATE']=pd.to_numeric(data['CARBONATE'],errors='coerce')
df2['CHLORIDE']=pd.to_numeric(data['CHLORIDE'],errors='coerce')
df2['SULPHATE']=pd.to_numeric(data['SULPHATE'],errors='coerce')
df2['NITRATE']=pd.to_numeric(data['NITRATE'],errors='coerce')
df2['FLUORIDE']=pd.to_numeric(data['FLUORIDE'],errors='coerce')
df2['TDS']=pd.to_numeric(data['TDS'],errors='coerce')

df2.dtypes

WRIS ID            object
LATITUDE           object
LONGITUDE          object
SITE_TYPE          object
STATE_NAME         object
DISTRICT_NAME      object
TAHSIL_NAME        object
BLOCK_NAME         object
SITE_NAME          object
BASIN_NAME         object
year                int64
PH                float64
EC                float64
TH                float64
TOT_ALKALINITY    float64
CA                float64
MG                float64
NA                float64
K                 float64
FE                float64
CARBONATE         float64
BICARBONATE       float64
CHLORIDE          float64
SULPHATE          float64
NITRATE           float64
FLUORIDE          float64
TDS               float64
dtype: object

In [13]:
# Calculating few new useful parameters from the already known features

NA_percent = ((df2.NA + df2.K)/(df2.NA + df2.K + df2.CA + df2.MG))*100
#NA_percent

KR = df2.NA/(df2.CA + df2.MG)
#KR

MAR = df2.MG/(df2.MG + df2.CA)
#MAR

Total_hardness = 2.5*df2.CA + 4.1*df2.MG
#Total_hardness

RSC = ((df2.CARBONATE + df2.BICARBONATE) - (df2.CA + df2.MG))
#RSC

SAR = df2.NA/(np.sqrt((df2.CA + df2.MG)/2))
#SAR

PI = (((df2.NA + df2.K) + np.sqrt(df2.BICARBONATE))*100)/(df2.NA + df2.K + df2.CA + df2.MG)
#PI

In [14]:
# Adding new columns with the calculated parameters
df2['%NA'] = NA_percent
df2['KR'] = KR
df2['MAR'] = MAR
df2['Total_hardness'] = Total_hardness
df2['RSC'] = RSC
df2['SAR'] = SAR
df2['PI'] = PI

In [15]:
df2.head()

,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,BASIN_NAME,year,PH,EC,TH,TOT_ALKALINITY,CA,MG,NA,K,FE,CARBONATE,BICARBONATE,CHLORIDE,SULPHATE,NITRATE,FLUORIDE,TDS,%NA,KR,MAR,Total_hardness,RSC,SAR,PI
0,W23881,11.8664,92.7361,Dug Well,Andaman And Nicobar,A & N Islands,Ferrargunj,South Andaman,Shoal Bay– 15 No.,South_Andaman,2018,8.34,355.0,130.0,160.0,22.0,18.225,25.70,1.53,1.288,12.0,170.8,17.725,3.21,3.63,0.37,217.748,40.367653,0.638906,0.453076,129.7225,142.575,5.730600,59.742121
1,W38814,12.1869,92.7917,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Baratang Island,South Creek (Sundergarh),South_Andaman,2018,8.46,596.0,120.0,205.0,14.0,20.655,75.67,6.33,0.125,18.0,213.5,38.995,46.22,2.46,0.24,360.745,70.292744,2.183523,0.596018,119.6855,196.845,18.178405,82.818258
2,W24095,12.5039,92.8592,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Bakultala,North&Middle_Andaman,2018,8.11,394.0,160.0,155.0,12.0,31.590,18.40,5.09,0.134,0.0,189.1,17.725,30.46,0.00,0.96,239.246,35.017889,0.422115,0.724708,159.5190,145.510,3.941299,55.517835
3,W24112,12.5247,92.9703,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Nimbutala,North&Middle_Andaman,2018,7.89,448.0,200.0,200.0,22.0,35.235,13.18,1.83,0.146,0.0,244.0,17.725,13.34,0.00,1.02,253.220,20.776524,0.230279,0.615620,199.4635,186.765,2.463767,42.398089
4,W24098,12.5083,92.9606,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Padmanavapuram,North&Middle_Andaman,2018,8.01,309.0,125.0,130.0,12.0,23.085,14.41,0.49,0.122,0.0,158.6,14.180,13.37,0.00,0.74,185.361,29.808943,0.410717,0.657973,124.6485,123.515,3.440474,55.003800

In [16]:
df2.to_excel (r'WQ.xlsx', index = False, header=True)